.BG01
  background: linear-gradient(to bottom,#DCFFFF,#FEFFFF)

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #483C8C

.hr
  background-color: #F18385 !important

.BGIMG01
  background-image: url("../assets/curso/tema1/img05.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.slyder-a__tipo-b .slyder-a__btn--sigt
  position: relative
  right: -40px
  top: 15px