.BG01
  background: linear-gradient(to bottom,#DCFFFF,#FEFFFF)

.BG02
  background-color: #ECECEF

.BG03
  background-color: #E1DFEC

.BG04
  background-color: #FFFF

.LineaTiempoD
  background: linear-gradient(to bottom,#E1DFEC,#FEFFFF)

.cajon.color-acento-contenido
  background-color: #FDECED

.BG06
  background-color:#DBFFFF

.BG07
  background-color: #F18385

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #483C8C


.BGIMG01
  background-image: url("../assets/curso/tema1/img05.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img10.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

